@font-face {
    font-family: 'DINProLight';
    src: url('../fonts/DINProLight.eot');
    src: local('DINProLight'), url('../fonts/DINProLight.woff') format('woff'), url('../fonts/DINProLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.eot?v=1.1.0");
    src: url("../fonts/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans-Regular.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.eot?v=1.1.0");
    src: url("../fonts/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/OpenSans-Bold.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: 'Open Sans';
    font-size: 14px;
}

/* reset */

body {
    margin: 0;
}

ul {
    margin: 0;
}

/* buttons */

.button {
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #303023;
    text-decoration: none;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

    .button:hover {
        background-color: #f0f0f0;
    }

    .button.video {
        color: #fff;
        background-color: #98925e;
        border-color: #757042;
        padding: 10px 25px;
    }

        .button.video:hover {
            background-color: #857f49;
        }

        .button.video.disabled {
            background-color: #bbb474;
            color: #fff;
        }

    .button.disabled {
        color: #d8d8d8;
        background-color: #fff;
        border-color: #ededed;
        cursor: default;
    }

.file-type {
    display: inline-block;
    width: 40px;
    height: 33px;
    float: left;
    margin-left: -14px;
    margin-top: -7px;
    border-right: 1px solid #fff;
}

    .file-type:after {
        content: "";
        height: 33px;
        display: block;
        z-index: -1;
        border-right: 1px solid #e2e2e2;
    }

.pdf {
    background-image: url(../img/pdf.png);
    background-position: center center;
    background-repeat: no-repeat;
}

/* social */

ul.social {
    padding: 0;
    margin: 0;
}

    ul.social li {
        list-style-type: none;
        display: inline-block;
        position: relative;
        top: -0.5em;
    }

        ul.social li a {
            display: block;
            -ms-border-radius: 100%;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid #e2e2e2;
            width: 32px;
            height: 32px;
            text-align: center;
            line-height: 32px;
            color: #857f49;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            -webkit-transition: background-color 200ms linear, color 200ms linear;
            -moz-transition: background-color 200ms linear, color 200ms linear;
            -ms-transition: background-color 200ms linear, color 200ms linear;
            -o-transition: background-color 200ms linear, color 200ms linear;
            transition: background-color 200ms linear, color 200ms linear;
        }

            ul.social li a:hover {
                background-color: #f0f0f0;
                color: #000;
            }

            ul.social li a.vk:hover {
                color: #708cac;
            }

            ul.social li a.tw:hover {
                color: #31bbf0;
            }

            ul.social li a.fb:hover {
                color: #6078ab;
            }

    ul.social.revert li a {
        background-color: #48483b;
        border-color: #48483b;
        color: #fff;
    }

        ul.social.revert li a:hover {
            background-color: #303023;
            color: #f8d168;
        }

/* panel styles */

header .topLine,
.underHeader,
.docs,
.media,
.partners,
footer {
    width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    header .topLine,
    .underHeader,
    .docs,
    .media,
    .partners,
    footer {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

/* heading styles */

h1, h2 {
    font-family: 'DINProLight';
}

.docs h1,
.partners h1 {
    text-align: center;
    font-size: 30px;
}

/* Header */
header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #d8d8d8;
}

.smallLogo {
    display: none;
}

.topLine .register {
    display: none;
    background-color: #fbfbfb;
}

    .topLine .register:hover {
        background-color: #fff;
    }

.topLine .social {
    float: right;
    padding: 15px;
}

ul.menu {
    padding: 0;
    margin: 0;
}

    ul.menu li {
        list-style-type: none;
        display: inline-block;
        padding: 15px;
    }

        ul.menu li a {
            text-decoration: none;
            color: #4a4626;
            transition: text-shadow 200ms linear;
        }

            ul.menu li a:hover {
                text-shadow: 0 0 1px #ccc;
            }

.underHeader {
    padding-top: 10px;
    padding-bottom: 25px;
    clear: both;
}

    .underHeader .register {
        float: right;
        margin-top: 40px;
    }

/* Map and poster */
#mapWrapper {
    background-image: url(../img/map.png);
    -moz-background-position-x: center;
    -o-background-position-x: center;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 335px;
    text-align: center;
}

.poster {
    display: none;
    background-color: #ef9875;
    background-color: rgba(239, 152, 117, 0.9);
    position: relative;
    top: 50px;
    padding: 50px 40px;
    text-align: center;
    border-radius: 5px;
}

    .poster h1,
    .poster h2 {
        color: #fff;
        padding: 0;
        margin: 0;
    }

    .poster h1 {
        font-weight: lighter;
        font-size: 36px;
        letter-spacing: -1px;
    }

    .poster h2 {
        font-size: 16px;
        font-family: 'Open Sans';
        font-weight: normal;
    }

#map {
    width: 1420px;
    height: 335px;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    border-bottom: 3px solid #d8d8d8;
}

@media screen and (max-width: 1420px) {
    #map {
        width: 100%;
        border: none;
    }
}

/* Docs */
#docsWrapper {
    padding: 60px 0 40px 0;
    text-align: center;
}

ul.buttons {
    padding: 0;
    margin: 0;
}

    ul.buttons li {
        list-style-type: none;
        display: inline-block;
        margin: 10px;
        padding: 0;
        width: 220px;
    }

    ul.buttons .button {
        display: block;
    }

/* Media */
#mediaWrapper {
    border-top: 1px solid #d8d8d8;
}

.media {
    padding: 60px 0;
    text-align: center;
}

/* Partners */
#partnersWrapper {
    background-color: #f8f8f8;
    border-top: 1px solid #d8d8d8;
    text-align: center;
    padding: 60px 0;
}

    #partnersWrapper a {
        text-decoration: none;
        font-size: 0;
    }

.partner {
    width: 220px;
    height: 100px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 0 3px #ccc;
    -ms-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    line-height: 100px;
    margin: 10px;
    display: inline-block;
    -webkit-transition: box-shadow 150ms linear;
    -moz-transition: box-shadow 150ms linear;
    -ms-transition: box-shadow 150ms linear;
    -o-transition: box-shadow 150ms linear;
    transition: box-shadow 150ms linear;
}

    .partner:hover {
        -webkit-box-shadow: 0 0 10px #ccc, 0 0 10px #f0f0f0 inset;
        -ms-box-shadow: 0 0 10px #ccc, 0 0 10px #f0f0f0 inset;
        box-shadow: 0 0 10px #ccc, 0 0 10px #f0f0f0 inset;
    }

    .partner.gold {
        -webkit-box-shadow: 0 0 3px #ccc, 0 0 100px #fbf396 inset;
        -ms-box-shadow: 0 0 3px #ccc, 0 0 100px #fbf396 inset;
        box-shadow: 0 0 3px #ccc, 0 0 100px #fbf396 inset;
    }

        .partner.gold:hover {
            -webkit-box-shadow: 0 0 10px #ccc, 0 0 100px #fbf396 inset;
            -ms-box-shadow: 0 0 10px #ccc, 0 0 100px #fbf396 inset;
            box-shadow: 0 0 10px #ccc, 0 0 100px #fbf396 inset;
        }

    .partner img {
        vertical-align: middle;
    }

/* Footer */
#footerWrapper {
    background-color: #303023;
    color: #fff;
}

footer {
    color: #fff;
    padding: 30px 0;
}

    footer a {
        text-decoration: none;
        color: #f8d168;
    }

    footer ul.social {
        float: right;
    }

.copyLeft span {
    padding-right: 20px;
}

/* Popup */
body.popupOpened {
    /*overflow: hidden;*/
}

    body.popupOpened #headerWrapper,
    body.popupOpened #mapWrapper,
    body.popupOpened #docsWrapper,
    body.popupOpened #mediaWrapper,
    body.popupOpened #partnersWrapper,
    body.popupOpened #footerWrapper {
        -webkit-filter: blur(5px);
        -moz-filter: url(../svg/filter.svg#blur);
        -o-filter: url(../svg/filter.svg#blur);
        filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5); /* IE8 */
        filter: url(../svg/filter.svg#blur);
    }

#popupWrapper {
    display: none;
}

body.popupOpened #popupWrapper {
    display: block;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    text-align: center;
}

#popupWrapper:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.popup {
    display: inline-block;
    vertical-align: middle;
    width: 520px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ef9875;
    box-shadow: inset 0 0 15px #f0f0f0;
    outline: none;
}

    .popup .headerClose {
        float: right;
        margin-top: -31px;
        margin-right: -31px;
        display: inline-block;
        border: 1px solid #ef9875;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
    }

@media screen and (max-width: 1024px) {
    body.popupOpened {
        overflow: hidden;
    }

    #popupWrapper:before {
        content: none;
    }

    .popup {
        width: 100%;
        height: 100%;
        display: block;
        vertical-align: top;
        overflow-y: scroll;
    }
}

.popup .popup-body {
    padding: 30px;
}

.formControl {
    display: block;
    padding: 10px 20px;
    border: 1px solid #e2e2e2;
    width: 420px;
    margin-bottom: -1px;
}

    .formControl.error {
        color: #fd1515;
        border-color: #ef9875;
        width: 400px;
        padding-right: 40px;
    }

    .formControl + label {
        display: inline-block;
        width: 32px;
        height: 32px;
        float: right;
        margin-top: -34px;
        margin-right: 10px;
        border: 1px solid #cccccc;
        -ms-border-radius: 100%;
        border-radius: 100%;
        text-align: center;
        line-height: 32px;
        font-style: normal;
        font-size: 0;
        color: transparent;
    }

        .formControl + label:before {
            font-size: 20px;
        }

        .formControl + label.error {
            border-color: #fd3557;
        }

            .formControl + label.error:before {
                content: "!";
                color: #fd3557;
            }

/*.icon.warning {
    border-color: #fdb303;
    color: #fdb303;
}

    .icon.warning:before {
        content: "?";
    }
    */

.popup button,
.popup .closeLink a {
    background-color: #ef9875;
    border: none;
    padding: 15px 40px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    color: #fcf0eb;
    -ms-text-shadow: 1px 1px 0 #e87e5f;
    text-shadow: 1px 1px 0 #e87e5f;
    text-transform: uppercase;
}

.popup a {
    text-decoration: none;
    color: #ef9875;
    border-bottom: 1px dashed #ef9875;
}

.popup h3 {
    padding: 0 0 20px 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 16px;
}

/* OK button in success popup */

.popup .closeLink {
    margin-top: 55px;
    text-align: center;
}

    .popup .closeLink a {
        display: inline-block;
        width: 245px;
    }

/* other media fixes */
@media screen and (max-width: 1024px) {
    ul.menu {
        display: none;
    }

    .topLine .smallLogo {
        display: block;
    }

    .topLine .register {
        float: right;
        margin-top: 8px;
        display: block;
    }

    .underHeader {
        display: none;
    }

    #mapWrapper {
        background-image: none;
        height: auto;
    }

    .poster {
        display: block;
        margin: 20px;
        top: 0;
    }

    #map {
        display: none;
    }
}
