/* Стили для кнопок */
.button {
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid #d8d8d8;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #303023;
    text-decoration: none;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;

    &:hover {
        background-color: #f0f0f0;
    }

    &.video {
        color: #fff;
        background-color: #98925e;
        border-color: #757042;
        padding: 10px 25px;

        &:hover {
            background-color: #857f49;
        }

        &.disabled {
            background-color: #bbb474;
            color: #fff;
        }
    }

    &.disabled {
        color: #d8d8d8;
        background-color: #fff;
        border-color: #ededed;
        cursor: default;
    }

    // icons
    & .icon {
        display: inline-block;
        width: 40px;
        height: 33px;
        margin-top: -7px;

        &:after {
            content: "";
            height: 33px;
            display: block;
            z-index: -1;
        }

        &.icon-left {
            float: left;
            margin-left: -14px;
            border-right: 1px solid #fff;

            &:after {
                border-right: 1px solid #e2e2e2;
            }
        }

        &.icon-right {
            float: right;
            margin-right: -14px;
            border-left: 1px solid #fff;

            &:after {
                border-left: 1px solid #e2e2e2;
            }
        }

        // icon pictures
        &.pdf {
            background-image: url(../content/pdf.png);
            background-position: center center;
            background-repeat: no-repeat;
        }

        &.arrow-down {
            background-image: url(../content/arrowDown.png);
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
}
