/* other media fixes */
@media screen and (max-width: 1024px) {
    ul.menu {
        display: none;
    }

    .topLine .smallLogo {
        display: block;
    }

    .topLine .register {
        float: right;
        margin-top: 8px;
        display: block;
    }

    .underHeader {
        display: none;
    }

    #mapWrapper {
        background-image: none;
        height: auto;
    }

    .poster {
        margin: 20px;
        top: 0;
        display: block;
    }

    #map {
        display: none;
    }
}
