/* panel styles */

header .topLine,
.underHeader,
.docs,
.media,
.partners,
footer {
    width: 1000px;
    padding: 0 30px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    header .topLine,
    .underHeader,
    .docs,
    .media,
    .partners,
    footer {
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.docs h1,
.partners h1 {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: #535035;
}
