/* Стили для хидера страницы */
header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #d8d8d8;
}

.smallLogo {
    display: none;
}

// grey line with menu and social buttons
.topLine {
    .register {
        display: none;
        background-color: #fbfbfb;

        &:hover {
            background-color: #fff;
        }
    }

    .social {
        float: right;
        padding: 15px;
    }
    /* main menu */
    ul.menu {
        padding: 0;
        margin: 0;

        li {
            list-style-type: none;
            display: inline-block;

            a {
                text-decoration: none;
                color: #4a4626;
                -webkit-transition: text-shadow 100ms linear, background-color 100ms linear;
                -moz-transition: text-shadow 100ms linear, background-color 100ms linear;
                -ms-transition: text-shadow 100ms linear, background-color 100ms linear;
                -o-transition: text-shadow 100ms linear, background-color 100ms linear;
                transition: text-shadow 100ms linear, background-color 100ms linear;
                padding: 15px;
                display: block;

                &:hover {
                    -ms-text-shadow: 0 0 1px #ccc;
                    text-shadow: 0 0 1px #ccc;
                    background-color: #f0f0f0;
                }
            }
        }
    }
}

.underHeader {
    padding-top: 10px;
    padding-bottom: 25px;
    clear: both;

    .register {
        float: right;
        margin-top: 40px;
    }
}
